.customers{
    padding-top: 188px;
    padding-bottom: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__list{
        display: flex;
        gap: 30px;
    }
    &__company{
        fill: $companyIcon;
        border: 1px solid $companyIcon;
        border-radius: 4px;
        width: 170px;
        height: 92px;
        gap: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover,
        &:focus{
            fill: $brandColor;
            border: 1px solid $brandColor;
            cursor: pointer;
            transition-property: fill, border;
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    &--title{
        font-size: 36px;
        line-height: 1.16;
        font-weight: 700;
        color: $companyTitle;
        padding-bottom: 50px;
    }
}