.container-lorem{
    padding-top: 94px;
    padding-bottom: 94px;
}
.lorem-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    &__text{
        font-size: 14px;
        line-height: 1.14;
        font-weight: 700;
        color: $loremText;
        width: 270px;
        padding-top: 30px;
        &--description{
            font-size: 14px;
            line-height: 1.71;
            font-weight: 400;
            color: $loremDescription;
            padding-top: 10px;
        }
    }
        &__icon {
            width: 270px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $loremBgColor;
            border-radius: 4px;
            margin: 0;
        }
}